:root {
    /* Colours */
    --colour-primary: #1ed760;

    --colour-background: #282828;

    --colour-active: #ffffff;
    --colour-inactive: #9c9c9c;

    /* Sizes */
    --size-font: 12px;
    --size-font-icon: 8px;
    --size-space: 0.5em;
}
