:root {
    /* Colours */
    --colour-primary: #1ed760;

    --colour-background: #000000;
    --colour-background-light: #282828;

    --colour-font-active: #ffffff;
    --colour-font-inactive: #9c9c9c;

    /* Sizes */
    --size-font: 12px;
    --size-font-heading: 18px;
    --size-font-icon-badge: 16px;

    --size-space-m: 1em;
    --size-space-sm: 0.5em;

    --size-connect-logo: 4em;
}
