.children {
    text-decoration: none;
    padding: var(--size-space);
}

.icon {
    font-size: var(--size-font-icon);
}

.category {
    font-size: var(--size-font);
}

.active {
    color: var(--colour-active);
}

.inactive {
    color: var(--colour-inactive);
}
