.children {
    text-decoration: none;
    padding: var(--size-space-sm);
}

.category {
    font-size: var(--size-font);
}

.active {
    color: var(--colour-font-active);
}

.inactive {
    color: var(--colour-font-inactive);
}
